.main-script {
  color: var(--main-font-color);
  animation: textAnimation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: both;
  animation-delay: 0.05s;
}

.main-script h1 {
  font-size: var(--main-font-size);
  line-height: 30px;
  margin-bottom: 25px;
}

.main-script p {
  font-size: var(--main-p-font-size);
  line-height: 18px;
}
